.pagination {
    display: flex;
    width: calc(100% - 1px);
    height: 35px;
    align-items: center;
}

    .pagination button {
        height: 100%;
        width: 24px;
        border: none;
        /*  background-color:#82a6fc;*/
        background-position-y: 2px;
        outline: none;
    }

        .pagination button:focus {
            background-color: #dadada;
        }

    .pagination input {
        text-align: center;
        width: 40px;
        height: 20px;
        margin: 0 5px;
        border: 1px solid #ccc;
        outline: none;
    }

    .pagination .icon-page-first {
        background: url(../data/common-icon.png) no-repeat -650px -124px;
        width: 23px;
        height: 23px;
        border: 1px solid #0009b6;
        margin-left: 8px;
    }

    .pagination .icon-page-prev {
        background: url('../data/common-icon.png') no-repeat -701px -124px;
        width: 23px;
        height: 23px;
        border: 1px solid #0009b6;
        margin-left: 4px;
    }

    .pagination .icon-page-next {
        background: url('../data/common-icon.png') no-repeat -751px -124px;
        width: 23px;
        height: 23px;
        border: 1px solid #0009b6;
        margin-left: 8px;
    }

    .pagination .icon-page-last {
        background: url('../data/common-icon.png') no-repeat -799px -124px;
        width: 23px;
        height: 23px;
        border: 1px solid #0009b6;
        margin-left: 4px;
    }

    .pagination .icon-refresh {
        background: url('../data/common-icon.png') no-repeat -849px -124px;
        width: 23px;
        height: 23px;
        border: 1px solid #0009b6;
        margin-left: 4px;
    }

    .pagination select {
        margin-left: 10px;
        width: 50px;
        height: 23px;
        border: 1px solid #0009b6;
    }

    .pagination .numberRecordOnpage {
        position: absolute;
        right: 20px;
    }
